In [1]:
import pandas as pd
import numpy as np

In [13]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [14]:
df=pd.read_csv('covid_toy.csv')

In [15]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

Complex Version

In [16]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2,random_state=42)

In [26]:
X_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

Adding SImple Imputer

In [27]:
si=SimpleImputer()
X_train_fever=si.fit_transform(X_train[['fever']])
X_test_fever=si.fit_transform(X_test[['fever']])

In [28]:
X_train_fever.shape

(80, 1)

In [29]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough=oe.fit_transform(X_train[['cough']])
X_test_cough=oe.fit_transform(X_test[['cough']])

In [31]:
X_train_cough.shape

(80, 1)

In [33]:
ohe = OneHotEncoder(drop='first')
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

X_test_gender_city = ohe.fit_transform(X_test[['gender','city',]])

X_train_gender_city.shape

(80, 4)

In [35]:
X_train_age=X_train.drop(columns=['fever','cough','city','gender']).values
X_test_age=X_test.drop(columns=['fever','cough','city','gender']).values

In [37]:
X_train_age.shape

(80, 1)

Simple Way

In [40]:
from sklearn.compose import ColumnTransformer

In [42]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first'),['gender','city'])
],remainder='passthrough')

In [45]:
pd=pd.DataFrame(transformer.fit_transform(X_test))

In [46]:
pd

             0    1    2    3    4    5     6
0   104.000000  0.0  0.0  0.0  1.0  0.0  17.0
1    98.000000  0.0  1.0  1.0  0.0  0.0  83.0
2   101.000000  1.0  0.0  1.0  0.0  0.0  68.0
3    99.000000  0.0  1.0  0.0  0.0  0.0  72.0
4   102.000000  1.0  1.0  1.0  0.0  0.0  20.0
5   103.000000  0.0  0.0  0.0  1.0  0.0  50.0
6    98.000000  1.0  0.0  0.0  1.0  0.0  71.0
7    99.000000  0.0  0.0  0.0  0.0  1.0  14.0
8   100.263158  0.0  0.0  1.0  0.0  0.0  75.0
9   103.000000  0.0  1.0  0.0  1.0  0.0  60.0
10   98.000000  0.0  0.0  0.0  0.0  0.0  64.0
11  101.000000  0.0  1.0  1.0  0.0  0.0  15.0
12   98.000000  1.0  1.0  0.0  1.0  0.0  34.0
13   98.000000  0.0  0.0  0.0  1.0  0.0  26.0
14   99.000000  1.0  0.0  1.0  0.0  0.0  59.0
15  101.000000  0.0  0.0  0.0  0.0  1.0  65.0
16  100.000000  0.0  1.0  0.0  0.0  0.0  80.0
17  101.000000  0.0  0.0  0.0  1.0  0.0   8.0
18   99.000000  1.0  0.0  0.0  1.0  0.0  25.0
19  103.000000  0.0  1.0  0.0  1.0  0.0  83.0

In [50]:
transformer.transform(X_test)

array([[104.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  17.        ],
       [ 98.        ,   0.        ,   1.        ,   1.        ,
          0.        ,   0.        ,  83.        ],
       [101.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  68.        ],
       [ 99.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  72.        ],
       [102.        ,   1.        ,   1.        ,   1.        ,
          0.        ,   0.        ,  20.        ],
       [103.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  50.        ],
       [ 98.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  71.        ],
       [ 99.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  14.        ],
       [100.26315789,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  75.        ],
       [103.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  60.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  64.        ],
       [101.        ,   0.        ,   1.        ,   1.        ,
          0.        ,   0.        ,  15.        ],
       [ 98.        ,   1.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  34.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  26.        ],
       [ 99.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  59.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  65.        ],
       [100.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  80.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,   8.        ],
       [ 99.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  25.        ],
       [103.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  83.        ]])